<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      form {
        border: 1px solid #ddd;
        padding: 5px;
        width: 225px;
        background: #efefef;
      }
      label {
        display: block;
        margin-top: 5px;
      }
      input,
      textarea,
      select,
      option {
        min-width: 200px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="submitForm()">
        <p v-if="errors.length">
          <b>Please correct the following errors :</b>
          <ul>
            <li v-for="error in errors">{{error}}</li>
          </ul>
        </p>
        <label>Name : </label>
        <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name" />
        <label>Address :</label>
        <textarea name="address" :disabled="buttonStatus == 'upload'" ref="address" v-model="address"></textarea>
        <label>No HP : </label>
        <input type="number" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp" style="margin-bottom: 1rem;"/>
        
        <div v-if="buttonStatus == 'submit'">
          <input type="submit" value="SUBMIT" />
        </div>
        <div v-else-if="buttonStatus == 'update'" >
          <input type="button" value="UPDATE" @click="updateMember(idEdit)" />
          <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;">
        </div>
        <div v-else-if="buttonStatus == 'upload'" >
          <input type="file" name="photo" ref="photo" />
          <input type="button" value="UPLOAD" @click="submitPhoto(idUpload)" style="margin-top: 5px"/>
          <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;">
        </div>
      </form>
      <br><br>
      <table border="1">
        <tr v-for="member of members">
          <td>
            <img width=100 :src="member.photo_profile ? photoProfile + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
          </td>
          <td>
            <b>Name : </b> {{ member.name }} <br>
            <b>Address : </b> {{ member.address }} <br>
            <b>Phone Number : </b>{{ member.no_hp }} <br>
            <td>
              <button @click="editForm(member)">Edit</button>
              <button @click="uploadPhoto(member)">Upload Foto</button>
              <button @click="removeForm(member.id)">Hapus</button>
            </td>
          </td>
        </tr>
      </table>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          name: "",
          address: "",
          no_hp: "",
          errors : [],
          members : [],
          photoProfile : 'http://demo-api-vue.sanbercloud.com',
          buttonStatus : 'submit',
          idEdit : null,
          idUpload : null
        },
        methods: {
          validationForm : function (){
            this.errors = []
  
            if (this.name.length < 0) {
              this.errors.push("Title must be at least 5 characters long")
              this.$refs.name.focus();
              
            } 
            
            if (this.address.length < 0) {
              this.errors.push("Address must be less than 10 characters long")
              this.$refs.address.focus();
          
            }

            if (this.no_hp.length < 0) {
              this.errors.push("No HP must be less than 10 characters long")
              this.$refs.no_hp.focus();
          
            }
            
          },
          clearForm : function (){
            this.name = "";
            this.address = "";
            this.no_hp = "";
          },

          submitForm: function () {
            this.validationForm()

              if (this.errors.length === 0) {
            
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('address', this.address)
            formData.append('no_hp', this.no_hp)
            
            const config = {
            method : 'post',
            url : 'http://demo-api-vue.sanbercloud.com/api/member',
            data : formData
            }

            axios(config)
            .then(response => {
              this.clearForm()
              this.getMembers()
              alert(response.data.message)
            })
            .catch(error => {
              console.log(error)
            })
              
             
            }
          },
          getMembers : function(){
            const config = {
              method : 'get',
              url : 'http://demo-api-vue.sanbercloud.com/api/member',
            }
            axios(config)
            .then(response => {
              // console.log(response.data);
              this.members = response.data.members
            })
            .catch(error => {
              console.log(error)
            })
          },

          removeForm : function(id){
            const config = {
              method : 'post',
              url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params : { _method: "DELETE" }
            }
            axios(config)
            .then(response => {
              this.getMembers()
              alert(response.data.message)
            })
            .catch(error => {
              console.log(error)
            })
          },

          editForm : function(member){
            this.name = member.name
            this.address = member.address
            this.no_hp = member.no_hp
            this.idEdit = member.id
            this.buttonStatus = 'update'
          },

          clearForm : function(){
            this.name = "";
            this.address = "";
            this.no_hp = "";
            this.idEdit = null;
            this.idUpload = null;
            this.buttonStatus = 'submit'
          },

          updateMember : function(id){
            this.validationForm()

            if (this.errors.length === 0) {
              let formData = new FormData()
              formData.append('name', this.name)
              formData.append('address', this.address)
              formData.append('no_hp', this.no_hp)
              
              const config = {
                method : 'post',
                url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                data : formData,
                params : { _method: "PUT" }
              }
              axios(config)
              .then(response => {
                this.clearForm()
                this.getMembers()
                alert(response.data.message)
              })
              .catch(error => {
                console.log(error)
              })
            }
          },

          uploadPhoto : function(member){
            this.name = member.name
            this.address = member.address
            this.no_hp = member.no_hp
            this.buttonStatus = 'upload'
            this.idUpload = member.id
          },

          submitPhoto : function(id){
            
              let file = this.$refs.photo.files[0]
              let formData = new FormData()
              formData.append('photo_profile', file)
              
              const config = {
                method : 'post',
                url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                data : formData,
              }
              axios(config)
              
              .then(response => {
                this.clearForm()
                this.getMembers()
                alert(response.data.message)
              })
              .catch(error => {
                alert ("please upload your photo")
                console.log(error.message)
              })
            
          },
          

        
        },
        created(){
          this.getMembers()
        }
      });
    </script>
  </body>
</html>
